### Formateur: SAKAYO TOADOUM SARI
#### Formation, Octobre 20121

# Les bases de la Programmation Python

Ici, nous allons apprendre comment écrire une ligne de code Python en passant par une serie d'exercices

## Instruction pour les exercices

* S'il vous plait veuillez enlever la ligne AJOUTE TON CODE ICI et ajouter votre code si vous tombez dessus.
* Quelques fois, vous avez besoin d'ajouter votre solution dans une nouvelle celulle.

In [19]:
print('Sakayo')
print("Hello World")

Sakayo
Hello World

## Operations sur Python

In [20]:
print(9 / 2)
print(9//2)

4.5
4

In [21]:
# Multiplication, division, modulo, and exposant
print(3 * 5)
print(10 / 2)
print(10//2)
print(18 % 7)
print(4 ** 2)

15
5.0
5
4
16

In [22]:
x = 67.6666
print(type(x))

x2 = int(x)
print(type(x2))

a = 10
b = 5
ab = a/b
print(type(ab))

ab = a//b
print(type(ab))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>

### Exercice

Suppose que tu as 100 XAF que tu peux investir et gagner 10% dessus chaque année. En un an tu auras donc 100×1.1=110 XAF. après deux ans la somme sera 100×1.1×1.1=121 XAF. Quel sera la somme après sept ans?

In [6]:
# AJOUTE TON CODE ICI
print(100*1.1**7)
a=12
b="mariana"
c=str(a)+" "+b
print(c)

194.87171000000012
12 mariana

## Variables

Les variables gardent les valeurs que tu peux acceder après dans ton programme.
* Les variables sont des locations mémoires dans un ordinateur avec un nom symbolique (identifiant) qui contient une information (valeur).
* Tu peux prendre une combinaison des lettres ou caractères spéciaux pour le nom d'une variable.
* On assigne une variable avec =

##### Règle de nomination des variables

* une variable peut avoir un nom court comme (x, y) ou plus descriptif (age,volume_total)
* une variable doit commencer par une lettre ou tiret de 8
* une variable ne peut pas commencer par un chiffre
* les variables sont sensibles (age, AGE, Age, aGe sont des variables differentes)

### Exemples

In [24]:
x = 5
nom = "Sakayo"
prénom = 'Toadoum'
nom_complet = nom + ' ' + prénom
print(x)
print(nom_complet)

5
Sakayo Toadoum

### Exercice: Variables

Faites le calcul en bas, les instructions sont dans le commentaire

In [7]:
# Créer une variable savings (épargne) et assigner une valeur
saving=50

# Créer une variable growth_multiplier et assigner une valeur numérique

growth_multiplier=20
# Créer une variable number_of_years (nombre d'années) d'epargne 
number_of_years=3

# calculer le resultat du montant gagner
resultat=saving+growth_multiplier*number_of_years

# afficher le resultat
print(resultat)

110

### Data Types

#### Types numérique

In [26]:
x = 40.00
print(type(x))

x = 40
print(type(x))

x = 50
y = 10
xy = x*y
xy2 = x/y
print(type(xy))
print(type(xy2))
string= "bonjour"
print(type(string))
f= True
print(type(f))

comp=4+3j
print(type(comp))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

1. Créer les variables suivants et afficher le type en utilisant la fonction type().

* une variable int 
* une variable float 

après, convertir la variable float en int et afficher le resultat.

In [4]:
# AJOUTE TON CODE ICI

### Strings

In [27]:
nom = "Sakayo"
prénom = 'Toadoum'
nom_complet = nom + ' ' + prénom
print(nom_complet)

Sakayo Toadoum

In [28]:
nom=nom_complet[:14]
nom

'Sakayo Toadoum'

In [29]:
nom_complet[0:]

'Sakayo Toadoum'

In [30]:
a='mangue'
b='orange'
fruits= a+' '+b
print(fruits)

mangue orange

```
+ – concatenation

* – repetition 


[i:j] – slice à partir du i-th caractere jusqu'à l'avant dernier j-th (longueur du slice est j - i) 

[i:] – slice à partir du i-th caractere jusqu'à la fin

[:i] – slice à partir du premier caractere jusqu'à avant dernier du i-th 

len (string) – retourne le nombre de caratere dans string
```

In [5]:
noms= "SakayoToadoumSari"

In [6]:
len(noms)

17

### Exercice

Faites l'operation des strings suivant:

In [8]:
# créer deux variables strings
first= 
second=
third= first+" "+second
# afficher la variable third en utilisant la fonction print


# en utilisant l'indexation ou encore slicing, afficher Hello

# afficher la longueur de f

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
# Get user input
text = input("Entrer nom et prénom avec une espace entre eux: ")

Entrer nom et prénom avec une espace entre eux: sakayo toadoum

In [10]:
# Afficher le string entrer

# diviser le string en first et last name en utilisant la fonction split() vous pouvez utiliser la documentation.


# print first et last name en une ligne

In [3]:
for x in range (1,11):
    for y in range (1,11):
        print ("%d x %d = %d" % (x,y,x*y))
    print ()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [4]:
for x in range (1,13):
    print("%d x %d = %d" %(x,y, x*y))
print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
11 x 11 = 121
11 x 12 = 132

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144